body{
  text-align: center;
  font-family: Arial;
}
img{
  width: 400;
  border-radius: 45%;
}
chill{
  font-family: Cambria;
  text-align: center;
}
body2{
  text-align: center;
}
body3{
  text-align: center;
}